<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- Other configuration elements -->
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="React Router" stopProcessing="true">
       <match url="^(?!api/).*$" />
      <conditions logicalGrouping="MatchAll">
       <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
       <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
      </conditions>
      <action type="Rewrite" url="/" />
      </rule>

      </rules>
    </rewrite>
  </system.webServer>
  <!-- Other configuration elements -->
</configuration>
